{% extends "base_letter.html" %}

{% block content %}
<p>I am writing to request verification of information contained in my credit file pursuant to my rights under the Fair Credit Reporting Act (FCRA), specifically Section 609.</p>

<p>Under Section 609 of the FCRA (15 U.S.C. Section 1681g), I am entitled to request and receive disclosure of:</p>

<ol>
    <li>All information in my consumer file at the time of my request</li>
    <li>The sources of the information</li>
    <li>The name of each person who obtained a consumer report during the past two years for employment purposes or the past one year for any other purpose</li>
</ol>

<p>I am specifically requesting the following information regarding the account listed below:</p>

<ul>
    <li>Complete payment history for this account</li>
    <li>Original signed contract or agreement bearing my signature</li>
    <li>Documentation showing the method of verification used when this account was reported</li>
    <li>Name and contact information of the original creditor</li>
    <li>Complete account statements from inception to present</li>
</ul>

{% if dispute.narrative %}
<p><strong>Additional Details:</strong> {{ dispute.narrative }}</p>
{% endif %}

<p>Please provide this information within 30 days as required by federal law. If you cannot provide the requested documentation, please remove this account from my credit report immediately.</p>
{% endblock %}

{% block closing %}
<p>I expect your response within 30 days as mandated by the FCRA. Failure to respond within this timeframe will be considered a violation of my consumer rights.</p>
{% endblock %}

{% block legal_notice %}
<p>This letter is sent pursuant to the Fair Credit Reporting Act (FCRA), 15 U.S.C. Section 1681g (Section 609). Failure to comply with this request may result in a complaint being filed with the Consumer Financial Protection Bureau (CFPB) and/or legal action.</p>
{% endblock %}
